// ===== Color Variables =====
$text-color: #073642;
$window-bg: rgba(253, 246, 227,0.3);
$border-color: #ecc189;

$button-hover-bg: rgba(137, 180, 250, 0.15);

$scale-track: #eae3cb;
$scale-fill: #475b62;
$scale-slider: #073642;

// ===== Size Variables =====
$font-size-base: 34px;
$font-weight-base: bolder;

$window-radius: 0.6em;
$window-padding: 12px;
$window-border-width: 0.1em;

$module-radius: 10px;
$module-margin-top: 10px;
$clock-margin-bottom: 0px;

$button-padding: 10px;
$button-radius: 10px;
$button-min-size: 36px;

$scale-radius: 0.15em 0.15em 0.15em 0.15em;
$scale-slider-height: 20px;
$scale-slider-width: 20px;
$trough-radius: 0.15em 0.15em 0.15em 0.15em;

// ===== Global Reset =====
* {
  all: unset;
  font-family: "Ubuntu Nerd Font", "Symbols Nerd Font";
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  color: $text-color;
}

// ===== Window =====
window { 
  background-color: $window-bg;
  border-radius: $window-radius;
  padding: $window-padding;
  border: $window-border-width solid $border-color;
}

// ===== Layout Boxes =====
.top_modules_box { 
  margin-top: $module-margin-top;
  border-radius: $module-radius;
}

.clock_box { 
  margin-bottom: $clock-margin-bottom;
}

// ===== Buttons =====
button { 
  padding: $button-padding;
  border-radius: $button-radius;
  min-width: $button-min-size;
  min-height: $button-min-size;
}

button:hover {
  background-color: $button-hover-bg;
}

// ===== Scale =====
scale {

  trough { 
    background-color: $scale-track;
    border-radius: $trough-radius;

  }

  trough slider {
    min-width: $scale-slider-width;
    min-height: $scale-slider-height;
    background: $scale-slider;
    border-radius: $scale-radius;
  }

  trough highlight,
  trough fill { 
    background: $scale-fill;
  }
}
